// colors 

$color-light-grey-1:#f7f7f7;
$color-light-grey-2:#eee;
$color-grey:#777;
$color-grey-dark:#999;
$color-grey-dark-2:#333;


/// Color 
$cl-black-light:#232320;

$cl-svg-1:#4158D0;
$cl-white-light:#fefaf6;   
$cl-pink:#ffc4ff;




$cl-blue-dark:#141c3a;
//font family
$font-display:"Roboto",sans-serif;

/// color


$color-primary:#FF3152;
$color-primary-dark:#ee3355;


$color-secondary:#31ffde;
$color-secondary-dark:#73CCA8;

$color-tertiary:#ffd012;

$color-white:#fff;
$color-white-light:rgb(219, 232, 212);
$color-white-light-2:#FFF8DC;


$color-black:#000;
$color-black-2:#222222;

$color-blak-light: #616161;
$color-black-light-2:#525e65;

//variable for screen
 
$bp-1:93.75em;  
$bp-2:62.5em;
$bp-3:50em;
