.header {
   
   background-color: $color-black;
   text-align: center;
   color:$color-white;
   display: flex;
   flex-direction: column;  
   align-items: center;
   padding: 7rem;
   gap:3rem;
   

    @media only screen and (max-width:$bp-4) {
       grid-column: 2/14;
       border-top-left-radius: .8rem;
       border-top-right-radius: .8rem;
       box-shadow: 0 1.2rem .5rem rgba($color-white, 0.2);
    }
    
   &__figure {
     position: relative;
     @media only screen and (max-width:$bp-4) {
        transform: translateY(-.4rem);
     }

   }
    &__figure:hover &__caption {
       transform: translate(-50%, -50%);
       opacity: 1;
    }

    &__figure:hover &__img {
       transform: scale(1);
       filter: blur(1px) brightness(50%);
       transform: scale(1);
    }

   &__img {
     width: 15rem; 
     border-radius: 50%;
     transform: scale(1.2);
     transition: all .2s;
   }
   &__about{
         display: flex;
         flex-direction: column;
         justify-content: space-evenly;
         align-items: center;
   }
   &__title{
      font-size: 9rem;
      font-style: italic;
      font-weight: 900;
      @media only screen and (max-width:$bp-6) {
                 font-size:6rem;
      }
   }
   &__sub{
      width: 60%;
      text-align: center;
      overflow: hidden;
      font-size: 2rem;
   }
   &__caption{
     
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50% , 200%);
      color:$color-white-light-2;
      opacity:0;
      overflow: hidden;
      transition: all .2s;
      font-weight: 400;
   }

   &__contact {
      text-transform: uppercase;
      display: flex;
      flex-direction: column;
      gap: 2rem;

   }
   &__contact--title{
      letter-spacing: 2px;

   }

   &__social-contact{
      display: flex;
      align-items: center;
      
   }
   
}

