
.nav{
    width: 100%;
    background-color:$color-black-light-2;
    background-color:$color-black;
    grid-column:1/-1; 
    grid-row: 1/2; 
    padding:2rem 0;
    z-index: 5000; 
    box-shadow: 0 7px 20px 0 rgba($color-black, 0.2),
    0 4px 10px 0 rgba($color-black, 0.2);
   
    &__header{ 
        position: fixed;
    }
    &__item{
        display: grid;
        grid-template-columns: repeat(5, min-content);
     
        align-items: center; 
        column-gap: 3rem;    
        justify-content: center;   
        @media only screen and (max-width:$bp-6) {
            display: flex;
            flex-wrap: wrap;
            gap:3rem;

        }
       
    }  
    &__list{  

        list-style: none;
        position: relative; 
    }  
    &__link,&__link:link,
    &__link:visited {
      //  color: #232320;
        color: $color-white-light;
        text-decoration: none;
        font-size: 2rem;  
        font-weight: 300;
        line-height: 1.2; 
     //   letter-spacing: 2px;
        text-transform: uppercase;
        transition: all .2s;
        padding: .9rem;
        
    }  
    &__link:hover{
        color: $color-secondary-dark;
        border-bottom: .4rem solid $color-secondary-dark;
    }



}

