*,*::before,*::after{
    margin:0;
    padding:0;
    box-sizing: inherit;
}
html{
    font-size: 62.5%;

     
     @media only screen and (max-width:$bp-1) {
         font-size: 54%;
     }
     @media only screen and (max-width:800px) {
         font-size: 50%;
     }
     @media only screen and (max-width:600px) {
         font-size: 30%;
     }
} 

body{
    box-sizing: border-box;
    
}
.container{
    display: grid;
    grid-template-columns:[gap-line-1-start] 3rem[gap-line-1-end center-start] repeat(12, [col-start] 1fr [col-end]) [center-end gap-line-2-start] 3rem [gap-line-2-end];
    grid-template-rows: repeat(5, min-content);
   // row-gap: 2rem;
    @media only screen and (max-width:600px){
         grid-template-columns:[gap-line-1-start] 2rem[gap-line-1-end center-start] repeat(12, [col-start] 1fr [col-end]) [center-end gap-line-2-start] 2rem [gap-line-2-end];
         grid-template-rows: repeat(5, min-content);
      //   row-gap: 2rem;
    }

    background-color: $color-black;  
   

     
}

::selection{
    background-color: $color-primary;
    color: $color-white;
}