.margin-top-big{
    margin-top: 15rem;
}
.margin-top-medium{
    margin-top: 3rem;
}

//margin bottom
.margin-bottom-big{
    margin-bottom: 4rem;
}
.margin-bottom-medium{
    margin-bottom: 2rem;
}
.margin-bottom-small{
    margin-bottom: 1rem;
}

//margin right
.margin-right-small{
    margin-right: 1rem;
}

.display-none{
    display: none;
}

.stiky{
    position: fixed;
    top: 0;
    
}